In [1]:
brand_map = {
    "三星": "samsung",
    "天语": "Ktouch",
    "海信": "hisense",
    "联想": "lenovo",
    "欧比": "obi",
    "爱派尔": "ipair",
    "努比亚": "nubia",
    "优米": "youmi",
    "朵唯": "dowe",
    "黑米": "heymi",
    "锤子": "hammer",
    "酷比魔方": "koobee",
    "美图": "meitu",
    "尼比鲁": "nibilu",
    "一加": "oneplus",
    "优购": "yougo",
    "诺基亚": "nokia",
    "糖葫芦": "candy",
    "中国移动": "ccmc",
    "语信": "yuxin",
    "基伍": "kiwu",
    "青橙": "greeno",
    "华硕": "asus",
    "夏新": "panosonic",
    "维图": "weitu",
    "艾优尼": "aiyouni",
    "摩托罗拉": "moto",
    "乡米": "xiangmi",
    "米奇": "micky",
    "大可乐": "bigcola",
    "沃普丰": "wpf",
    "神舟": "hasse",
    "摩乐": "mole",
    "飞秒": "fs",
    "米歌": "mige",
    "富可视": "fks",
    "德赛": "desci",
    "梦米": "mengmi",
    "乐视": "lshi",
    "小杨树": "smallt",
    "纽曼": "newman",
    "邦华": "banghua",
    "E派": "epai",
    "易派": "epai",
    "普耐尔": "pner",
    "欧新": "ouxin",
    "西米": "ximi",
    "海尔": "haier",
    "波导": "bodao",
    "糯米": "nuomi",
    "唯米": "weimi",
    "酷珀": "kupo",
    "谷歌": "google",
    "昂达": "ada",
    "聆韵": "lingyun",
    "小米": "Xiaomi",
    "华为": "Huawei",
    "魅族": "Meizu",
    "中兴": "ZTE",
    "酷派": "Coolpad",
    "金立": "Gionee",
    "SUGAR": "SUGAR",
    "OPPO": "OPPO",
    "vivo": "vivo",
    "HTC": "HTC",
    "LG": "LG",
    "ZUK": "ZUK",
    "TCL": "TCL",
    "LOGO": "LOGO",
    "SUGAR": "SUGAR",
    "Lovme": "Lovme",
    "PPTV": "PPTV",
    "ZOYE": "ZOYE",
    "MIL": "MIL",
    "索尼" : "Sony",
    "欧博信" : "Opssom",
    "奇酷" : "Qiku",
    "酷比" : "CUBE",
    "康佳" : "Konka",
    "亿通" : "Yitong",
    "金星数码" : "JXD",
    "至尊宝" : "Monkey King",
    "百立丰" : "Hundred Li Feng",
    "贝尔丰" : "Bifer",
    "百加" : "Bacardi",
    "诺亚信" : "Noain",
    "广信" : "Kingsun",
    "世纪天元" : "Ctyon",
    "青葱" : "Cong",
    "果米" : "Taobao",
    "斐讯" : "Phicomm",
    "长虹" : "Changhong",
    "欧奇" : "Oukimobile",
    "先锋" : "XFPLAY",
    "台电" : "Teclast",
    "大Q" : "Daq",
    "蓝魔" : "Ramos",
    "奥克斯" : "AUX"
}

In [7]:
import pandas as pd
import zipfile

In [5]:
brands= pd.Series(brand_map)
brands.head(n= 30)

E派          epai
HTC          HTC
LG            LG
LOGO        LOGO
Lovme      Lovme
MIL          MIL
OPPO        OPPO
PPTV        PPTV
SUGAR      SUGAR
TCL          TCL
ZOYE        ZOYE
ZUK          ZUK
vivo        vivo
一加       oneplus
三星       samsung
世纪天元       Ctyon
中兴           ZTE
中国移动        ccmc
乐视          lshi
乡米       xiangmi
亿通        Yitong
优米         youmi
优购         yougo
先锋        XFPLAY
努比亚        nubia
华为        Huawei
华硕          asus
台电       Teclast
唯米         weimi
基伍          kiwu
dtype: object

In [8]:
zf= zipfile.ZipFile('phone_brand_device_model.csv.zip')
phone= pd.read_csv(zf.open('phone_brand_device_model.csv'))
phone.shape

(187245, 3)

In [9]:
phone.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [10]:
phone.phone_brand = phone.phone_brand.map(brands, na_action='ignore')
phone.head()

             device_id phone_brand   device_model
0 -8890648629457979026      Xiaomi             红米
1  1277779817574759137      Xiaomi           MI 2
2  5137427614288105724     samsung      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457     samsung  Galaxy Note 2

In [11]:
phone.shape

(187245, 3)

In [13]:
phone.isnull().sum()

device_id         0
phone_brand     113
device_model      0
dtype: int64

In [17]:
phone[phone.phone_brand.isnull()].head(n= 10)

                 device_id phone_brand  device_model
11404 -8506235652949718755         NaN  KDOOR X5-Y12
12163 -8261063188188263178         NaN         BM001
15601 -3883933399719787952         NaN        JX8166
16527  2607194823654924080         NaN  KDOOR X5-Y12
16582 -5573617949239671141         NaN            P1
17736  1025151362345592491         NaN            X7
18369 -1471191403119783844         NaN         78P01
20599  2238292564171659438         NaN        JX8166
21829  1456231129869198627         NaN            P8
22522 -1387426312378055589         NaN            X5

In [16]:
phone[phone.phone_brand.isnull()].shape

(113, 3)

In [19]:
phone.to_csv('phone_brand_deviceModel_eng.csv.gz', compression= 'gzip')

In [21]:
phone.phone_brand.value_counts()

Xiaomi        43210
samsung       34286
Huawei        32564
vivo          14395
OPPO          14289
Meizu         11853
Coolpad        8407
lenovo         6761
Gionee         2768
HTC            2682
ZTE            2096
lshi           1930
Sony           1821
nubia          1144
LG              763
ccmc            671
TCL             586
dowe            544
hammer          535
youmi           492
hisense         489
oneplus         438
yuxin           396
Qiku            378
Ktouch          376
moto            228
CUBE            165
ZUK             153
koobee          152
meitu           151
              ...
micky            20
wpf              20
ximi             20
bigcola          20
xiangmi          19
Taobao           19
Changhong        18
Phicomm          18
Oukimobile       17
Cong             17
candy            16
ada              16
google           16
XFPLAY           14
Teclast          12
SUGAR            11
obi              11
Ramos             9
AUX               9
desci             9
Daq               9
JXD               7
pner              6
Kingsun           6
mole              5
PPTV              5
Ctyon             5
MIL               2
fs                2
ZOYE              1
Name: phone_brand, dtype: int64