In [3]:
import pandas as pd
import zipfile

In [4]:
zf = zipfile.ZipFile('label_categories.csv.zip')

In [5]:
label_cat= pd.read_csv(zf.open('label_categories.csv'))

In [9]:
label_cat.head()

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

In [10]:
label_cat.shape

(930, 2)

In [11]:
zf= zipfile.ZipFile('gender_age_train.csv.zip')
train= pd.read_csv(zf.open('gender_age_train.csv'))
train.shape

(74645, 4)

In [12]:
train.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [13]:
zf= zipfile.ZipFile('gender_age_test.csv.zip')
test= pd.read_csv(zf.open('gender_age_test.csv'))
test.shape

(112071, 1)

In [14]:
test.head()

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

In [15]:
zf= zipfile.ZipFile('phone_brand_device_model.csv.zip')
phone= pd.read_csv(zf.open('phone_brand_device_model.csv'))
phone.shape

(187245, 3)

In [16]:
phone.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

In [17]:
phone.tail()

                  device_id phone_brand device_model
187240  7979541072208733273          小米         MI 4
187241  -187404680852357705          小米          红米2
187242 -2718274279595622821          小米         MI 3
187243  3098391762071677791        vivo           X1
187244  7540390258631417003        vivo         Y22L

In [18]:
zf= zipfile.ZipFile('app_labels.csv.zip')
app_label= pd.read_csv(zf.open('app_labels.csv'))
app_label.shape

(459943, 2)

In [19]:
app_label.head()

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [20]:
app_label.label_id.nunique()

507

In [21]:
label_cat.label_id.nunique()

930

In [22]:
zf= zipfile.ZipFile('events.csv.zip')
events= pd.read_csv(zf.open('events.csv'))
events.shape

(3252950, 5)

In [23]:
events.head()

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [24]:
zf= zipfile.ZipFile('app_events.csv.zip')
app_events= pd.read_csv(zf.open('app_events.csv'))
app_events.shape

(32473067, 4)

In [25]:
app_events.head()

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [27]:
events.event_id.nunique() == len(events)

True

In [28]:
app_events.event_id.nunique()

1488096

In [29]:
app_counts= app_events.event_id.value_counts()

In [31]:
app_counts.describe()

count    1.488096e+06
mean     2.182189e+01
std      2.274256e+01
min      1.000000e+00
25%      7.000000e+00
50%      1.400000e+01
75%      3.000000e+01
max      3.200000e+02
Name: event_id, dtype: float64